[submodule "googletest"]
	path = googletest
	url = https://github.com/alext234/googletest.git
[submodule "libpcap"]
	path = libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "cppobserver"]
	path = cppobserver
	url = https://github.com/alext234/cppobserver.git
